/*----------------------------*/
/* GLOBAL STYLES */
/*----------------------------*/
:root {
	--main-font-color: black;
	--main-bg-color: white;
	--main-special-color-1: black;
	--main-special-color-2: white;

	--theme-light-1-bg-color-1: #fff;
	--theme-light-1-font-color-1: #000;
	--theme-light-1-special-color-1: #c6541f;
	--theme-light-1-special-color-2: #090b97;

	--theme-light-2-bg-color-1: #eee;
	--theme-light-2-font-color-1: #333;
	--theme-light-2-special-color-1: #df2fc7;
	--theme-light-2-special-color-2: #4f0011;

	--theme-light-3-bg-color-1: #ddd;
	--theme-light-3-font-color-1: #555;
	--theme-light-3-special-color-1: #970900;
	--theme-light-3-special-color-2: #c2ff15;

	--theme-dark-1-bg-color-1: #000;
	--theme-dark-1-font-color-1: #fff;
	--theme-dark-1-special-color-1: #970928;
	--theme-dark-1-special-color-2: #521c03;

	--theme-dark-2-bg-color-1: #333;
	--theme-dark-2-font-color-1: #eee;
	--theme-dark-2-special-color-1: #9e3809;
	--theme-dark-2-special-color-2: #4f0011;

	--theme-dark-3-bg-color-1: #555;
	--theme-dark-3-font-color-1: #ddd;
	--theme-dark-3-special-color-1: #d94500;
	--theme-dark-3-special-color-2: #5e0000;
}
::selection {
	color: var(--main-bg-color);
	background: var(--main-font-color);
}

// ::-webkit-scrollbar {
// 	// width: calc(1.5rem + 0.2vw);
// }
// ::-webkit-scrollbar-track {
// 	background: var(--main-font-color);
// }
// ::-webkit-scrollbar-thumb {
// 	background: var(--main-bg-color);
// 	border-radius: 1rem;
// }
// ::-webkit-scrollbar-button {
// 	background: var(--main-bg-color);
// }

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	--incerment-1: 0.5vw;
	--header1: calc(4rem + var(--incerment-1));
	--header2: calc(3.2rem + var(--incerment-1));
	--header3: calc(2.6rem + var(--incerment-1));
	--header4: calc(2.4rem + var(--incerment-1));
	--header5: calc(2rem + var(--incerment-1));
	--header6: calc(1.6rem + var(--incerment-1));
	--small-size-text-1: calc(0.7rem + var(--incerment-1));
	--small-size-text-2: calc(1rem + var(--incerment-1));
	--small-size-text-3: calc(1.3rem + var(--incerment-1));
	--normal-size-text-1: calc(1.6rem + var(--incerment-1));
	--normal-size-text-2: calc(1.9rem + var(--incerment-1));
	--normal-size-text-3: calc(2.2rem + var(--incerment-1));
	--big-size-text-1: calc(9rem + var(--incerment-1));
	--big-size-text-2: calc(11rem + var(--incerment-1));
	--big-size-text-3: calc(13rem + var(--incerment-1));
}

:root {
	--main-font-color: black;
	--main-bg-color: white;
	--main-special-color-1: black;
	--main-special-color-2: white;

	--theme-light-1-bg-color-1: #fff;
	--theme-light-1-font-color-1: #000;
	--theme-light-1-special-color-1: #c6541f;
	--theme-light-1-special-color-2: #090b97;

	--theme-light-2-bg-color-1: #eee;
	--theme-light-2-font-color-1: #333;
	--theme-light-2-special-color-1: #df2fc7;
	--theme-light-2-special-color-2: #4f0011;

	--theme-light-3-bg-color-1: #ddd;
	--theme-light-3-font-color-1: #555;
	--theme-light-3-special-color-1: #970900;
	--theme-light-3-special-color-2: #c2ff15;

	--theme-dark-1-bg-color-1: #000;
	--theme-dark-1-font-color-1: #fff;
	--theme-dark-1-special-color-1: #970928;
	--theme-dark-1-special-color-2: #521c03;

	--theme-dark-2-bg-color-1: #333;
	--theme-dark-2-font-color-1: #eee;
	--theme-dark-2-special-color-1: #9e3809;
	--theme-dark-2-special-color-2: #4f0011;

	--theme-dark-3-bg-color-1: #555;
	--theme-dark-3-font-color-1: #ddd;
	--theme-dark-3-special-color-1: #d94500;
	--theme-dark-3-special-color-2: #5e0000;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-size: var(--normal-size-text-1);
}

.theme-light-1 {
	--main-special-color-1: var(--theme-light-1-special-color-1);
	--main-special-color-2: var(--theme-light-1-special-color-2);
	--main-bg-color: var(--theme-light-1-bg-color-1);
	--main-font-color: var(--theme-light-1-font-color-1);
}
.theme-light-2 {
	--main-special-color-1: var(--theme-light-2-special-color-1);
	--main-special-color-2: var(--theme-light-2-special-color-2);
	--main-bg-color: var(--theme-light-2-bg-color-1);
	--main-font-color: var(--theme-light-2-font-color-1);
}
.theme-light-3 {
	--main-special-color-1: var(--theme-light-3-special-color-1);
	--main-special-color-2: var(--theme-light-3-special-color-2);
	--main-bg-color: var(--theme-light-3-bg-color-1);
	--main-font-color: var(--theme-light-3-font-color-1);
}

.theme-dark-1 {
	--main-special-color-1: var(--theme-dark-1-special-color-1);
	--main-special-color-2: var(--theme-dark-1-special-color-2);
	--main-bg-color: var(--theme-dark-1-bg-color-1);
	--main-font-color: var(--theme-dark-1-font-color-1);
}
.theme-dark-2 {
	--main-special-color-1: var(--theme-dark-2-special-color-1);
	--main-special-color-2: var(--theme-dark-2-special-color-2);
	--main-bg-color: var(--theme-dark-2-bg-color-1);
	--main-font-color: var(--theme-dark-2-font-color-1);
}
.theme-dark-3 {
	--main-special-color-1: var(--theme-dark-3-special-color-1);
	--main-special-color-2: var(--theme-dark-3-special-color-2);
	--main-bg-color: var(--theme-dark-3-bg-color-1);
	--main-font-color: var(--theme-dark-3-font-color-1);
}

.theme-light-1,
.theme-light-2,
.theme-light-3,
.theme-dark-1,
.theme-dark-2,
.theme-dark-3 {
	&:not(.no-theme),
	*:not(.no-theme) {
		.current-theme {
			&:not(.no-font-theme) {
				color: var(--main-font-color);
			}
			&:not(.no-font-theme) {
				background: var(--main-bg-color);
			}
		}

		.reverse-theme {
			&:not(.no-font-color-theme) {
				color: var(--main-bg-color);
			}
			&:not(.no-bg-color-theme) {
				background: var(--main-font-color);
			}
		}
	}
}

.no-theme {
	color: unset;
	background-color: unset;
}

html,
body {
	width: 100%;
	height: 100%;
}
body {
	color: var(--main-font-color);
	background: var(--main-bg-color);
	overflow-x: hidden;
	max-width: 200rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

h1 {
	font-size: var(--header1);
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4 {
	font-size: var(--header4);
}
h5 {
	font-size: var(--header5);
}
h6 {
	font-size: var(--header6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	* {
		font-size: inherit;
	}
}

span {
	font-size: inherit;
}

ul {
	list-style: none;
}

a {
	// color: var(--main-font-color);
	color: inherit;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: inherit;
	}
}

ul,
ol,
dl,
li {
	text-decoration: none;
	list-style: none;
}

button,
a {
	cursor: pointer;
}

.font-size-inherit {
	font-size: inherit !important;
}

/*
.margin-auto {
	margin: auto;
}

.w-100percent {
	width: 100%;
	height: auto;
}
.h-100percent {
	height: 100%;
}

.min-h-100vh {
	min-height: 100vh;
}

.max-w-100 {
	max-width: 100%;
}

.overflow-hidden {
	overflow: hidden;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}

.display-flex {
	display: flex;
}
.align-i-center {
	align-items: center;
}
.justify-c-center {
	justify-content: center;
}
.justify-c-space-around {
	justify-content: space-around;
}
.justify-c-space-between {
	justify-content: space-between;
}
.flex-d-c {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}

.bg-no-repeat {
	background-repeat: no-repeat;
}
.bg-position-center {
	background-position: center;
}
.bg-size-cover {
	background-size: cover;
}

.object-fit-cover {
	object-fit: cover;
}
.object-positioncenter {
	object-position: center;
}
.text-align-center {
	text-align: center;
}

.isHidden {
	display: none !important;
}

.flex-x-y-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.svg-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}
.svg-container svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: currentColor;
}
*/