/*----------------------------*/
/* */
/*----------------------------*/
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	--main-bg-color: black;
	--main-font-color: black;
	line-height: 1.2;
}
body::-webkit-scrollbar {
	width: calc(1.5rem + 0.2vw);
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

.SECTION,
section {
	margin: 1%;
	padding: 2%;
	border: 5px solid black;
	background-image: linear-gradient(
		-90deg,
		black,
		#fd0000,
		black,
		#ffff00,
		black
	);
	transition: all 3s;
}

.main-section {
	width: 80vw;
}

.main-section h2 {
	color: #000000b6;
}

.main-section h3,
.main-section h4,
.main-section h5 {
	color: rgba(14, 22, 22, 0.74);
}

ol,
ul {
	padding: 0 0 0em 0.5em;
}

li {
	padding: 0 0 0em 0.75em;
}

.subElemContainngInfo {
	background-image: linear-gradient(
		-180deg,
		black,
		#823030,
		black,
		#4a4a01,
		black
	);
	cursor: help;
	color: blue;
	background-color: #ddd;
	border-color: coral;
	padding: 0.25rem 1rem;
	border-radius: 20rem;
}

.tooltip-output {
	display: none;
	position: fixed;
	z-index: 999;
	border: 1px solid red;
	background-color: black;
	color: white;
	padding: 0.5rem;
	font-size: 2rem;
	top: 100px;
	left: 50px;
}
