@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import './variab.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	color: var(--pure);
}
.main-header {
	background: linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)),
		url('../img/sunrise.jpg');
	min-height: 100vh;
	background-size: cover;
}
.main-header nav {
	padding: 20px 40px 20px 100px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid var(--gray);
}
.main-header nav .nav-right {
	display: flex;
	justify-content: space-between;
}
.main-header nav .nav-right a {
	text-decoration: none;
	color: var(--pure);
	margin-right: 30px;
	position: relative;
}
.main-header nav .nav-right a:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -30px;
	width: 0;
	height: 2px;
	background: var(--pure);
	transition: width 0.3s ease;
}
.main-header nav .nav-right a:hover:after {
	width: 70%;
}
.main-header nav .nav-right a.active:after {
	width: 70%;
}
.main-header nav .nav-right .search > div {
	background: var(--dark);
	display: flex;
	align-items: center;
	padding: 10px 15px;
	border-radius: 50px;
}
.main-header nav .nav-right .search > div input {
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
}
.main-header nav .nav-right .search > div img {
	padding-right: 16px;
}
.center {
	font-size: 26px;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}
.center h1 {
	letter-spacing: 12px;
	color: #616199;
}
