.product {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.textHolder,
.videoHolder {
	width: 45%;
}

.textHolder {
	padding: 0 0.5em;
	align-self: flex-start;
}

.textHolder header h2 span:first-child {
	font-size: var(--size-5);
	font-weight: bolder;
	color: hsl(10deg 100% 60%);
	margin-bottom: 2em;
	display: inline-block;
}

.textHolder > section > p {
	margin: 2em 0;
}

.textHolder > section > button {
	margin: 3em 0;
	margin-top: 0;
}

.videoHolder {
	align-self: center;
	max-width: 40rem;
}

.videoHolder > a,
.videoHolder > a > iframe {
	width: 100%;
}

.videoHolder > a {
	position: relative;
	/* width: 100%; */
	margin: auto;
	height: 100%;
	display: inline-flex;
	align-items: center;
}

.videoHolder .playImg,
.videoHolder .imgPoster {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease-in-out;
}

.videoHolder .imgPoster {
	bottom: 0;
	right: 0;
	/* width: 100%; */
	height: 100%;
	background-color: #fff;
	margin: auto;
	/* object-fit: cover; */
	z-index: 2;
}

.videoHolder .playImg {
	width: 10rem;
	transform: translate(1rem, 50%);
	z-index: 3;
}

.videoHolder > a > span {
	position: absolute;
	background-color: var(--videHolder-span-color);
}

.spanXUpper,
.spanXLower {
	width: 35%;
	height: 0.5rem;
}

.spanYUpper,
.spanYLower {
	width: 0.5rem;
	height: 35%;
}

.spanYUpper,
.spanXUpper {
	top: 0;
	right: 0;
}

.spanYLower,
.spanXLower {
	bottom: 0;
	left: 0;
}

@media screen and (max-width: 700px) {
	.product {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.textHolder,
	.videoHolder {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.textHolder > section {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.textHolder > section p {
		width: 90%;
		margin: 2em auto;
		text-align: center;
	}
	.textHolder > section > button {
		margin: 3em auto;
		margin-top: 0;
	}
}

@media screen and (min-width: 700px) {
	.product.reverseOnBiggerScreen {
		flex-direction: row-reverse;
	}

	.reverseOnBiggerScreen .videoHolder .playImg {
		left: unset;
		right: 0;
		width: 12rem;
		transform: translate(1rem, 50%);
	}

	.reverseOnBiggerScreen .spanYUpper,
	.reverseOnBiggerScreen .spanXUpper {
		right: unset;
		left: 0;
	}

	.reverseOnBiggerScreen .spanYLower,
	.reverseOnBiggerScreen .spanXLower {
		left: unset;
		right: 0;
	}
}
