#solar-system-plants-cards-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(0 0 0 / 78%);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 750px;
	margin: 1em;
	padding: 1em;
	overflow: hidden;
	background: black;
}

.card-image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	z-index: 1;
	background: black;
	opacity: 1;
}

.card-header,
.card-body,
.card-footer {
	position: relative;
	z-index: 2;
	background: rgba(255, 255, 255, 0.5);
	color: black;
	margin: 1em;
	padding: 1em;
	border-radius: 10px;
	opacity: 0;
	transition: opacity 0.4s ease-in;
}

.card:hover .card-header,
.card:hover .card-body,
.card:hover .card-footer,
/**/
.card:focus .card-header,
.card:focus .card-body,
.card:focus .card-footer {
	opacity: 1;
}

.card:hover .card-image,
/**/
.card:focus .card-image {
	animation: scalePlanet 30s ease-in-out infinite alternate;
}

.card-header,
.card-footer {
	padding: 1em;
}

.card-header {
	text-align: center;
}

.card-body {
	padding: 1em;
	background: rgba(255, 255, 255, 0.5);
	color: black;
	border-radius: 10px;
}

.extra-info .info strong {
	color: #8b400b;
}

.footer-main-header {
	margin-bottom: 0.5em;
	width: 100%;
	text-align: center;
}

.card-footer a {
	color: black;
	text-decoration: none;
	margin: 0.5em;
}

@keyframes scalePlanet {
	to {
		transform: scale(1.25);
		opacity: 0.75;
	}
}
