.Hero {
	width: 100%;
	padding: 0.5em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
}

.imgHolder {
	width: 100%;
	align-self: stretch;
}

.imgHolder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.textHolder {
	width: 100%;
	padding: 0.5em;
}

.textHolder .header h1 span {
	display: inline-block;
	color: hsl(245deg 12% 36%);
	font-size: var(--size-30);
	margin: 0.25em 0;
}

.textHolder .header h1 span:first-child {
	font-size: var(--size-5);
	font-weight: bolder;
	position: relative;
}
.textHolder .header h1 span:first-child::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: -125%;
	width: 100%;
	height: 20%;
	background-color: hsl(245deg 12% 36%);
	transform: translate(0, -100%);
}

.textHolder .header h1 span:last-child {
	color: #ff5331;
}

.textHolder .body {
	margin: 1em 0;
}

.textHolder .body > p,
.textHolder .body .form {
	margin: 1em 0;
}

.form .formControl {
	width: 60%;
	margin: 1em 0;
	padding: 1em 0;
	border-bottom: 0.5rem solid hsl(245deg 12% 36%);
}

.form .formControl p {
	font-size: var(--size-20);
}

.form button {
	margin: 1em 0;
}

.features {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	flex-wrap: wrap;
}

ul.features li {
	margin: 0.5em 0.25em;
}

.features li header {
	margin-bottom: 0.25em;
}

.features li section {
	font-size: var(--size-15);
	color: #ff5331;
}

@media screen and (max-width: 700px) {
	.Hero {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 6em;
	}

	.imgHolder {
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
	.imgHolder img {
		object-position: center;
	}

	.textHolder {
		background-color: rgb(255 255 255 / 80%);
		margin: 3em auto;
	}
	.textHolder .header h1 span {
		font-size: var(--size-26);
	}
}
