/*----------------------------*/
/* GLOBAL STYLES */
/*----------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	--header1: calc(2rem + 1vw);
	--header2: calc(3.5rem + 1vw);
	--header3: calc(3rem + 1vw);
	--header4: calc(2.4rem + 1vw);
	--text: calc(1.5rem + 1vw);
	--big-text: calc(6rem + 1vw);
	--bg-color: #414141;
	--color-special: #906272;
	--color-1: #000;
	--color-2: #525252;
	--color-2: #fff;
}
html,
body {
	width: 100%;
	height: 100%;
}
h1 {
	font-size: var(--header1);
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4,
h5 {
	font-size: var(--header4);
}
li,
button,
label,
input,
a,
p {
	font-size: var(--text);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--color-1);
}
body {
	animation: opening 3s ease-in-out;
}

/*----------------------------*/
/* ANIMATIONS */
/*----------------------------*/
@keyframes opening {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
	/*0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(100, -100);
  }
  40% {
    transform: translate(-100, 100);
  }
  60% {
    transform: translate(-25, 25);
  }
  80% {
    transform: translate(50, -50);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }*/
}

/*----------------------------*/
/*  */
/*----------------------------*/
#drawing-fractal-trees-animation {
	width: 100%;
	height: 100%;
	position: relative;
	animation: opening 1.5s ease-in-out;
}

#canvas1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: white;
}

#generate-tree-btn {
	cursor: pointer;
	outline-color: transparent;
	border: none;
	position: absolute;
	left: 50%;
	top: 5%;
	z-index: 10;
	transform: translate(-50%, 0);
	padding: 1em 1.5em;
	border-radius: 5em;
	background: brown;
	color: black;
	font-size: 2rem;
	width: 30rem;
	overflow: hidden;
}
